
<br>
<br>
<br>
<br>
<br>
<div class='record-info'>
  <h2>Album Info</h2>
  <p>Album Title: <%= @record.albumtitle %></p> 
  <p>Album Artist: <%= @record.artist %></p> 
  <p>Album Genre: <%= @record.genre %></p> 
  <p>Released: <%= @record.releaseyear %></p>

  <ol>
    <p>Track List: </p>
    <% @tracks.each do |track| %>
      <li><%= track.title %></li>
    <% end %>
  </ol>

  <p>
    <%= @owner %>'s' opinon on this record:<br>
    <%= @record.owneropinion %>
  </p> 

  <% if cur_user.username == @owner %>
     <button>
       <a href="/records/<%= @record.id %>/edit" class="edit-record-btn">Edit this record</a>
     </button>
  <% end %>

</div>

<hr>

<div class='record-comments'>
  <h2>Comments</h2>
  <% if cur_user %>
    <button>
      <a href="/records/<%= @record.id %>/comments/new" class="add-comment-btn">Add a comment</a>
    </button>
   <% end %> 


  <% @comments.each do |comment| %>
  <p>
    <%= comment.find_author(comment.user_id) %> says...<br>
    <%= comment.body %>
    <br>
    <% if cur_user.username == comment.find_author(comment.user_id) %>
       <button>
         <a href="/comments/<%= comment.id %>/edit" class="edit-comment-btn">Edit comment</a>
       </button>

       <button>
         <a href="/comments/<%= comment.id %>/delete" class="delete-comment-btn">Delete comment</a>
       </button>

    <% end %>
    <br>
  </p> 
  <% end %>

</div>